[2021-07-09 09:45] clemensutschig commented on #995
@gerardcl @oalyman - this is really weird, .... seems the jdk switch now creates the failure `Unrecognized VM option 'UseCGroupMemoryLimitForHeap'`
`

[2021-07-11 06:32] clemensutschig commented on #988
@serverhorror can you try with Master.. the latest image should now be public..  ;-)

[2021-07-11 07:29] clemensutschig commented on #996
Closed by #998

[2021-07-11 07:29] #996 closed

[2021-07-12 06:53] braisvq1996 opened #999 "Jenkins audit plugin"
**Is your feature request related to a problem? Please describe.**
Sometimes it’s difficult to tell who is doing what in Jenkins. Something happens, the Jenkins has/need a reset , a pipeline was deleted, and we do not know who did the change.

**Describe the solution you'd like**
Can we consider to install a plugin like this one?
https://plugins.jenkins.io/audit-trail/#documentation

Consider that

[2021-07-12 08:02] metmajer commented on #999
+1

[2021-07-12 08:03] metmajer commented on #999
@braisvq1996 identify an owner, figure out a solution to the disk space problem, and do it, thanks

[2021-07-12 12:17] braisvq1996 opened #1000 "Jenkins master is not able to deploy agents"
**Describe the bug**
After a pipeline is created and/or executed Jenkins is not able to successfully run the an ODS jenkins agent.

This is happening when using a Jenkins master build with the code from ods-core, master branch into Openshift 3.11

**To Reproduce**
Steps to reproduce the behavior:
1. Install ODS from master branch into Openshift 3.11
2. Create a new project
3. Add Quickstarters int

[2021-07-12 12:28] felipecruz91 commented on #1000
OpenShift 3 is based on an older version of Kubernetes, which is not anymore directly supported since Kubernetes plugin version 1.26.0.

To get agents working for Openshift 3, add this Node Selector to your Pod Templates:

beta.kubernetes.io/os=linux

Source: https://plugins.jenkins.io/kubernetes/

[2021-07-12 12:55] michaelsauter commented on #951
Closed in #984.

[2021-07-12 12:55] #951 closed

[2021-07-12 13:52] michaelsauter commented on #910
Based on @felipecruz91's comment, I googled a bit with @stitakis and we came across https://github.com/danielmenezesbr/crc-on-gcp-terraform. Maybe a direction to investigate? I also saw a comment that someone installed CRC on CentOS on Azure. So maybe only AWS has this limitation?

[2021-07-13 07:18] braisvq1996 commented on #1000
If we make use of a lower version of the Kubernetes plugin there are other plugins that need to be downgraded as well

![image](https://user-images.githubusercontent.com/26645694/125408530-4ae76400-e3bb-11eb-9bbe-41234179f593.png)

[2021-07-13 11:46] braisvq1996 commented on #1000
For what I have seen there are 3 plugins needed to be changed/added for the pipelines to work:

**Kubernetes**  version _1.25.2_ (downgrade from _1.29.7_)
**Openshift Sync** version _1.0.45_ (downgrade from _1.0.46_)
**Pipeline Utility Steps** version _2.5.0_ (was installed in ODS 3 but not for ODS 4 )

[2021-07-13 12:03] clemensutschig commented on #1000
@braisvq1996 install all them - and see if it works (what you can do - is to first install them via marketplace) and try this way ...

[2021-07-13 12:04] clemensutschig commented on #1000
why don't we try with the ocp4 piece(s) on 3 ... maybe they have backwards compatibility?

[2021-07-13 12:05] braisvq1996 commented on #1000
Yeah, I have install the 3 of them in my Jenkins and now the pipelines works, I was able to run the quickstarter pipeline and the component pipeline successfully

[2021-07-13 12:21] braisvq1996 commented on #1000
At least the kubernetes plugin version we currently use for ODS 4 and Openshift 4 does not work in Openshift 3 as Felipe mention here: https://github.com/opendevstack/ods-core/issues/1000#issuecomment-878238468

And this also force us to change the version of another plugin, Openshift Sync, as mentioned here: https://github.com/opendevstack/ods-core/issues/1000#issuecomment-878842273

Aside of the

[2021-07-13 12:54] clemensutschig commented on #1000
hmmm - that would mean ods 4 will only certify on ocp4 - or do we introduce 2 images .. (that you build with a flag ... ?!

[2021-07-13 13:30] braisvq1996 commented on #1000
well, we already have 2 dockerfiles for Jenkins master and agent base and acording to ODS, one should be used for Openshift 3 and the other for Openshift 4

https://github.com/opendevstack/ods-core/blob/master/configuration-sample/ods-core.env.sample#L186

[2021-07-15 14:17] stitakis opened #1001 "ODS AMI build failed due to bitbucket crashed container"
**Describe the bug**
The odsbox build is silently failing and timing out after 8 hours.

This is affecting also the build of branch 3.x

2 days ago a new bitbucket image was deployed to dockerhub.
This image is not able to access the mapped host folder `${HOME}/bitbucket_data`.
For this reason the bitbucket docker container is crashing with exceptions like this:
[code]
The deploy.sh script is sile

[2021-07-15 15:50] #1001 closed

[2021-07-19 06:57] jssnull opened #1004 "ODS Tests - Quickstarter creation test failing"
If we run the ODS quickstarter test behind a proxy we'll have the following error:

[code]

This error is comming concretely from the "go test" command defined in smoke-test.sh,

If we test that command directly in commandline we'll have the same error:

[code]

I have tried the same go test command settings proxy env vars, but I'm still having the same error:

[code]

How we can proceed here?

[2021-07-19 07:48] clemensutschig commented on #1004
@jssnull - you#ll need to set proxy (and https proxy) with port ... if you are inhouse - with :80

[2021-07-19 09:48] jssnull commented on #1004
checked with @clemensutschig  after adding HTTPS_PROXY env var (in uppercase) it solves the proxy issue

[2021-07-19 09:48] #1004 closed

[2021-07-19 11:49] stitakis opened #1005 "ODS AMI build failed due to jira missing permissions on jira data folder"
**Describe the bug**
The odsbox build is failing to install Jira.
This seems to happen since a new jira image was deployed to docker hub this week by atlassian.
The problem is that Jira does not have permission to access the mapped host folder.
This is affecting also the build of branch 3.x

![image](https://user-images.githubusercontent.com/1012854/126155712-b7bcd04c-fcd5-4586-b931-ac7b99b2d3b0.p

[2021-07-19 13:24] stitakis commented on #1005
Fix solved jira installation and configuration problem for master branch.
Reopening as PR for  in branch 3.x still needs to be approved

[2021-07-19 15:28] stitakis opened #1008 "ODS AMI build failed due to missing permission on user odsverify-dev"
**Describe the bug**
ODSBox AMI build is failing due to missing permission on user `odsverify-dev`.

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**
[code]

[2021-07-19 15:29] stitakis commented on #1008
@felipecruz91 the build has not been running successfully the last week. Probably this is a regression issue originated by this change #946 Could you please double check?

[2021-07-19 15:48] stitakis opened #1009 "extend provisioning app configuration to allow to enable single page client"
**Is your feature request related to a problem? Please describe.**
The provisioning app delivers two types of front-ends.
One front-end is server-side template client and it is the default one.
The second one front-end is a single-page client.
This feature request is about extending the provisioning app configuration to allow deployers to enable the single-page client in provisioning app.

The ide

[2021-07-19 16:00] metmajer commented on #1009
@stitakis existing end-to-end tests might depend on the existing UI.

FYI @jorge-romero @s2oBCN @jafarre-viewnext @hrcornejo

[2021-07-19 16:01] metmajer commented on #1009
@stitakis can you please put this into a release beyond ODS 4.0? We had planned to cut a release in the next days and I would not like to introduce extra dependencies at this point in time.

[2021-07-20 06:39] clemensutschig commented on #1008
@felipecruz91  - does the (jenkins) service account need admin rights on the project, or something? I am pretty surprised that there is an issue, as the SA is creating the project?

[2021-07-20 07:45] stitakis commented on #1009
@metmajer @jorge-romero yes, I'll move it to a future release. btw, the default value is `false`, means the current FrontEnd will be enabled by default.

[2021-07-20 08:17] clemensutschig commented on #1008
oops - this cannot work:
from https://docs.openshift.com/container-platform/3.6/admin_guide/managing_networking.html

`The cluster administrator role is required to add labels to namespaces.` why are we not using annotations?!

[2021-07-20 10:20] braisvq1996 commented on #1000
Even if I mannually add the plugins into Jenkins, if the pod restart Kubernetes and openshift-sync are restored to the version that do not work in OCP 3

[2021-07-21 07:31] stitakis commented on #1008
@clemensutschig @felipecruz91 I have fix for this, we need to add to the ods service account `jenkins` the capability to patch namespaces. The way that I found to do this is by creating a new cluster role.
This can be done in this way
[code]
These lines need to be added to the script `setup-ods-project.sh`.
I'll have tested this solution in the branch `feature/ods-devenv`.
I'll create a PR for mas

[2021-07-21 10:22] stitakis commented on #1008
@felipecruz91 we have reverted #946. This was necessary to fix the broken ODS AMI build. Please see a related discussion in the candidate Fix PR #1011 that didn't make it. Any questions please contact me. Happy to explain to you all the details.

[2021-07-21 10:25] #1005 closed

[2021-07-21 13:00] #1008 closed

[2021-07-22 08:21] clemensutschig commented on #1004
@jssnull  - maybe add that info into the readme.md?

[2021-07-22 08:39] jssnull commented on #1004
@clemensutschig yep, will do it and also will add the jq requirement

[2021-07-22 09:01] jssnull commented on #1004
https://github.com/opendevstack/ods-core/pull/1013 PR ready

[2021-07-28 10:51] jssnull opened #1015 "Docgen test failing in ods-core"
Command:
[code]
Test suite failing:

[code]
Stacktrace
[code]

Seems to be related with proxy settings

[2021-07-30 09:00] #470 closed

[2021-08-02 06:41] michaelsauter commented on #1000
@braisvq1996 You'd need to update the plugins in the image itself. See https://github.com/opendevstack/ods-core/blob/master/jenkins/master/ods-run.sh#L53-L91 for an explanation.

[2021-08-02 07:14] braisvq1996 commented on #1000
I have been running some test last week and if we add the plugins version here in the file [plugins.txt](https://github.com/opendevstack/ods-core/blob/master/jenkins/master/plugins.txt) it will work.
The only problem is that this file is currently been used when instaling ODS into OCP 3 and OCP 4.

To solve it we can have 2 of these files, each been used by one of the Dockerfiles.
With that we hav

[2021-08-02 07:38] metmajer commented on #1000
Very cool @braisvq1996

[2021-08-02 14:11] braisvq1996 commented on #1000
PR for [master](https://github.com/opendevstack/ods-core/pull/1020) and [4.x](https://github.com/opendevstack/ods-core/pull/1019) branches merged
So I will close this issue

[2021-08-04 06:44] clemensutschig opened #1021 "latest master -> odsverify / prov app - job hangs in "new" for 1h and times out"
**Describe the bug**
latest master log:

[code]
@stitakis can you take a look?

[2021-08-04 07:46] clemensutschig commented on #1021
looks like the build in jenkins (phase == "running") is not starting ... maybe I'll add a debug with the logs from jenkins pod

[2021-08-04 08:44] felipecruz91 commented on #1021
The build for the 4.x branch experiences the same issue, I'm looking into it as well

[2021-08-04 09:00] clemensutschig commented on #1021
I am trying to come up with better debug logs (as part of the CI) ... my guess is a plugin problem - that does not let the build start - @michaelsauter

[2021-08-04 09:47] felipecruz91 commented on #1021
In the on-premise ODS installation in OCP3, we are currently using `registry.access.redhat.com/openshift3/jenkins-2-rhel7:v3.11`.
However, in ODS in a Box, we use `openshift/jenkins-2-centos7:v3.11`

These two images ship a **different** version of Jenkins master.

- On-premises Jenkins comes with v2.235.5
- EDP in a Box comes with Jenkins master v2.204.2

and therefore the plugins list specified

[2021-08-04 11:25] clemensutschig commented on #1021
leavin open until the next CI run picks it up ..

[2021-08-04 14:23] #1021 closed

[2021-08-09 07:35] michaelsauter opened #1025 "make is missing from Jenkins agent images in OpenShift 4"
**Describe the bug**
@renedupont figured out that `make` is missing in the Jenkins agent images in OpenShift 4. However, `make` is present in OpenShift 3. We concluded that the base image provided by RedHat must differ: RHEL7 provides `make`, while the UBI8 one does not (see https://catalog.redhat.com/software/containers/openshift3/jenkins-2-rhel7/581d2f4500e5d05639b6517b?container-tabs=packages&g

[2021-08-10 10:48] felipecruz91 commented on #1025
All PRs have been merged, @michaelsauter feel free to close the issue

[2021-08-10 12:22] #1025 closed

[2021-08-18 15:44] gerardcl opened #1030 "unable to resolve class kong.unirest.Unirest when on Jenkins master ODS 4.x"
**Describe the bug**
Today I wanted to start using ODS 4.x in order to prepare for new implementations in the context of the AWS Terraform QS library, so I installed latest jenkins-master, jenkins-agent-base and the related terraform children, all based on latest ODS 4.x, all builds and deployments have been successful so far.
But, I was not able to run with success the jenkins pipeline since the

[2021-08-18 15:45] gerardcl commented on #1030
@metmajer @borja44 @clemensutschig  @michaelsauter FYI

[2021-08-19 06:59] michaelsauter commented on #1030
Jenkins is at it again ... 🙄

As another note, we also looked at the Jenkins startup logs together and did not see any error during https://github.com/opendevstack/ods-core/blob/master/jenkins/master/configuration/init.groovy.d/ods-jenkins-shared-library.groovy#L94. Hmm.

[2021-08-25 11:00] felipecruz91 opened #1032 "VS Code in EDP Box freezes"
**Describe the bug**
The installed version of VS Code in EDP Box freezes. It has already been reported in the official repo https://github.com/microsoft/vscode/issues/119931.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch an EDP Box (3.x) in AWS.
2. Launch VS Code.
3. See how it freezes.

**Expected behavior**
VS Code to run fine and **not** freeze.

**Affected version (please comple

[2021-08-30 11:59] clemensutschig commented on #1030
bug in the jenkins version? ... what jenkins build is being used here?

[2021-08-30 17:40] gerardcl commented on #1030
The build from on the jenkins build is `registry.redhat.io/openshift4/ose-jenkins:v4.7` with the `Dockerfile.ubi8`.

In the `master` branch in the `ods-core.env.sample` I see it might only be tested up to v4.6

[2021-08-31 08:54] metmajer commented on #1032
Cheers @felipecruz91, that's very useful. @s2oBCN do you want to take care of the fix?

[2021-08-31 10:40] s2oBCN commented on #1032
I have this running, with a workaround,  installing VS with https://snapcraft.io/code

[2021-08-31 10:41] s2oBCN commented on #1032
Insiders is for early adopters... I'd wait

[2021-08-31 12:25] metmajer commented on #1032
@s2oBCN I'd agree, but we use box instances to have internal teams develop their own Quickstarters. Without a working IDE this won't be possible. Is Insiders so early that it can't be used effectively? Do you know of a better way to solve the problem with VS Code?

[2021-08-31 12:30] clemensutschig commented on #1032
why don#t we install directly from github and are done with it?

[2021-08-31 13:08] clemensutschig commented on #1030
hmmm - and this is latest avail? I guess the best option we have is to file a bug with the stacktrace - and pin to 4.6?

[2021-08-31 15:07] clemensutschig commented on #1030
filed: https://issues.jenkins.io/browse/JENKINS-66508

[2021-08-31 16:01] clemensutschig commented on #1030
hmmm ... I talked with @metmajer - and what's weird is that everywhere else we have a `@Grab('org.yaml:snakeyaml:1.24')` .. except in this service. ... maybe that changed?

[2021-08-31 16:08] clemensutschig commented on #1030
so - I fixed this quickly (new branch) @gerardcl  - by adding a grab import into BitbucketService:
`@Grab(group='com.konghq', module='unirest-java', version='2.4.03', classifier='standalone')`

hurray

[2021-08-31 20:28] clemensutschig commented on #1030
this needs to be ported into 4x/master and 3.x

[2021-09-02 09:48] metmajer commented on #999
@braisvq1996 since we're approaching the installation of ODS 4.x, was there any progress?

[2021-09-02 09:49] metmajer opened #1034 "ODS in a Box creation fails due to "no space left on device""
**Describe the bug**
[code]

**To Reproduce**
Check the links to the logs at https://GitHub.com/opendevstack/ods-core

**Affected version (please complete the following information):**
 - OpenDevStack 3.x and master (implies 4.x)

FYI @clemensutschig

[2021-09-02 14:24] metmajer commented on #1034
@stitakis can you please take a look?

[2021-09-06 11:25] braisvq1996 opened #1035 "NodeJS agent version change is not mentioned in update guide"
NodeJS agent version change (from node 10 to node 12) is not mentioned in update guide: https://www.opendevstack.org/ods-documentation/opendevstack/4.x/update-guides/4x.html

@felipecruz91

[2021-09-08 07:56] metmajer commented on #1034
@stitakis @georgfedermann can you please advise?

[2021-09-09 08:47] s2oBCN commented on #1000
I'll create a PR to revert this change https://github.com/opendevstack/ods-core/pull/1023 and at the same time apply the correct versions of the plugin for an ODS box when building the ODS box.

[2021-09-09 09:44] metmajer commented on #1034
@clemensutschig @michaelsauter @stitakis @s2oBCN the build is broken since a week. can you please decide on some action?

[2021-09-09 09:57] michaelsauter commented on #1000
Hmm, #1023 changes the `rhel7` variant. Did you install ODS 4 in OpenShift 3? Or do you have issues in an OpenShift 4 cluster?

[2021-09-09 10:03] s2oBCN commented on #1000
I've created this PR https://github.com/opendevstack/ods-core/pull/1038

[2021-09-09 10:14] braisvq1996 commented on #1000
It is an instalation of ODS 4 into Openshift 3

The main problem now is that the Jenkins version that comes with centos based images is to low for the kubernetes plugin we use in rhel based images

[2021-09-09 15:00] stitakis commented on #1034
@metmajer @michaelsauter my apologies that I haven't noticed this earlier. I have removed the old log files and also updated the cron job that removes old log files. Retention is now 30 days. Since we are building the branch 4.x the disc space was filling up faster. There is enough disc space now. Next build should not break due this problem.

[2021-09-09 19:08] metmajer commented on #1034
Thanks @stitakis, no reason to apologise. I act persistently so we don't overlook the issue and our development team can stay current.

[2021-09-10 06:31] braisvq1996 commented on #1000
After we updated the ODS 4 instalation with the fix added by @s2oBCN we are able to deploy agents again so I will close this issue

[2021-09-10 06:31] #1000 closed

[2021-09-11 15:51] clemensutschig commented on #1034
@stitakis still red.. my gut feeling is the box Storage too small

[2021-09-12 18:13] s2oBCN commented on #1034
Now it's red becuase we need this change: https://github.com/opendevstack/ods-quickstarters/pull/646

[2021-09-13 06:42] s2oBCN commented on #1034
Now it's failing after 4h... , almost at the end, because of a test:
![image](https://user-images.githubusercontent.com/3382436/133035844-ac4c7f0d-b42f-4422-a3cd-f305b4dc8ad3.png)

Do you know why? because there's no more info. Otherwise I can investigate the test.

[2021-09-13 06:52] clemensutschig commented on #1034
@s2oBCN  - go into the logs - and search for this .. you'll see what's going on ...

[2021-09-13 07:47] clemensutschig commented on #1034
ok we found it - URL has changed for acceptance tests .. @s2oBCN  - you also need to fix this for e2e-spock*

[2021-09-13 08:39] braisvq1996 commented on #999
@metmajer , I did not have much time to take a look into it.
We will try to allocate time for this

[2021-09-13 13:41] s2oBCN commented on #1034
Fianlly working! :)

[2021-09-13 16:17] metmajer commented on #1034
@s2oBCN Wohoo :)

[2021-09-13 16:27] clemensutschig commented on #1034
hopefully the next run catches it - then we can backport

[2021-09-13 17:09] s2oBCN commented on #1032
now it's working with the last odsBox

[2021-09-13 17:09] #1032 closed

[2021-09-13 17:18] clemensutschig commented on #1034
Awesome... so you backport?

[2021-09-14 06:05] s2oBCN commented on #1034
yes

[2021-09-14 14:58] stitakis commented on #1034
closing, odsbox master build is running successful again.

[2021-09-14 14:58] #1034 closed

[2021-09-15 08:54] braisvq1996 commented on #999
@metmajer we have created a draft pr for this

[2021-09-16 14:25] jorge-romero opened #1044 "ODS box does not start the servers automatically when AMI is started"
**Describe the bug**
After the startup of the ODS box, there is no server running, neither the ones that runs on docker, nor openshift. As you can see:
[code]
I could see in the journal that there are some errors trying to create firewall rules that perhaps can affect to the startup of the servers as you can see in the log.
**To Reproduce**
Create a new box based in the latest AMI

**Expected beha

[2021-09-16 14:59] clemensutschig commented on #1044
` COMMAND_FAILED: '/usr/sbin/iptables -w10 -t nat -D PREROUTING -m addrtype --dst-type LOCAL -j DOCKER' failed: iptables v1.4.21: Couldn't load target `DOCKER':No such file or dir`

that's really weird .... (I

[2021-09-16 15:45] jorge-romero commented on #1044
It seems that this problem happened some time ago and was fixed for an old version of docker:
https://github.com/moby/moby/issues/15948
But there are still comments on the bug telling that it can be reproduced in new versions of docker and some SO.

[2021-09-20 16:00] jorge-romero commented on #1044
Fixed in master with the PR https://github.com/opendevstack/ods-core/pull/1045, it needs to be added the fix in 3.x and 4.x

[2021-09-30 07:58] michaelsauter commented on #960
I just checked and cues-report 4.0.0 was released bringing compatibility with SQ 8.9 LTS: https://github.com/cnescatlab/sonar-cnes-report/releases/tag/4.0.0

[2021-10-12 11:50] metmajer opened #1046 "ODS Box AMI creation failed due to certificate error"
**Describe the bug**
The logs available on the ods-core project's `README.md` reveal a certificate error during the ODS Box AMI creation process.

**Affected version (please complete the following information):**
 - master

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**
[code]

FYI @clemensutschig @michaelsauter @stitakis @s2oBCN @jorge-romero

[2021-10-13 13:43] #999 closed

[2021-10-13 13:56] stitakis commented on #1046
@clemensutschig I'm giving it a quick look now, the earliest I can continue and take care will be tomorrow morning.

[2021-10-13 14:57] stitakis commented on #1046
it looks to me that the jira image has changed...

[code]

[2021-10-13 15:07] clemensutschig commented on #1046
and the run - of import-certs :)

[2021-10-13 16:27] #1046 closed

[2021-10-15 11:52] clemensutschig commented on #988
@serverhorror  - can you try again / master and 4.x should be available :)

[2021-10-18 07:52] stitakis opened #1052 "ODSBox AMI build for branch 3.x is failing"
The AMI Build of ODSBOX for branch 3.x. is failing after TestVerifyOdsQuickstarterProvisionThruProvisionApi

[code]

[2021-10-19 07:31] gerardcl commented on #1052
latest today evening will jump into this, ok? TTYL

[2021-10-19 10:55] gerardcl commented on #1052
ok! found the issue, it is due to SSL not found:
[code]

will provide fix later today, ok?

[2021-10-19 11:44] #1052 closed, assigned to stitakis, gerardcl

[2021-10-19 16:05] stephenkehoe opened #1053 "Preparing to upgrade to OpenShift Container Platform 4.9 [Kubernetes 1.22] APIs Deprecated"
<html>
<body>
<p style="box-sizing: border-box; margin: 0px 0px 1rem; line-height: 1.5em; color: rgb(37, 37, 37); font-family: &quot;Red Hat Text&quot;, RedHatText, &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; te

[2021-10-21 13:43] stitakis opened #1054 "ODSBox AMI build failed due to a installation error of chrome package"
The ODSBox AMI build fails due to a installation error of chrome package.

Error:
[code]

This is impacting the build of the ODSBox AMI for all mayor branches: master, 4,x, 3,x

[2021-10-25 06:59] #1054 closed, assigned to stitakis

[2021-10-25 07:17] stitakis opened #1058 "ODSBOX AMI build fails due to error in jenkins-nodejs12 agent caused by bad chrome version"
ODSBOX AMI build fails due to error in jenkins-nodejs12 agent caused by bad chrome version.

This error:
[code]
caused the E2E Test "TestVerifyOdsNamespaceImages" to fail:
[code]

For me, looks like the root of the problem is that the latest chrome version is not compatible with centos 7, because it doesn't include the GLIBC  2.18. However I not 100% sure.

Anyway, I think it would be good to not

[2021-10-26 08:12] #1058 closed, assigned to stitakis

[2021-10-27 18:09] clemensutschig opened #1062 "Latest ods-ci (master/4.x) is broken with "UnsupportedOperation: Encrypted snapshots can���t be shared public""
**Describe the bug**
Start a CI build from master/4.x: at the end of the build /which is successfull - the ami can't be update with

[code]

so looks like we cannot make this public?! @stitakis

Looks like something changed on AWS?! ... the public part is at https://github.com/opendevstack/ods-core/blob/master/ods-devenv/packer/CentOS2ODSBox.json#L23-L25

[2021-11-08 14:45] stitakis commented on #1062
@clemensutschig I have removed public fix in branch `feature/ods-devenv`. The build is running now. Let see if this fix the problem.

[2021-11-09 11:01] stitakis commented on #1009
@metmajer we need this feature at BIX. It is not a disrupting one. The default is `false`. It means, it doesn't affect current behavior, which is tested anyway in ODS build.

[2021-11-09 11:06] stitakis commented on #1062
I'll close it once the builds run successful

[2021-11-11 08:51] #1062 closed

[2021-11-11 09:08] stitakis opened #1068 "ODS AMI build failing due to failed test of quickstarter ods-document-gen-svc"
E2E test of quickstarter ods-document-gen-svc is failing at stage `Build Openshift Image`.

This is affecting branches `master` and `4.x`.

It looks like a python dependency can't currently be installed.

[code]

[code]
[code]

[2021-11-11 09:09] stitakis commented on #1068
@metmajer do you have someone in your team that could take a look at this issue? Was something recently changed in the ods-document-gen-svc?

[2021-11-11 14:59] #1009 closed

[2021-11-11 15:03] stitakis commented on #1068
It looks like this was a temporary problem. Current builds are not failing. Closing this issue

[2021-11-11 15:03] #1068 closed

[2021-11-18 10:34] clemensutschig opened #1070 "CI / AMI build fails sporadically with ResourceNotReady: exceeded wait attempts�[0m"
from the CI logs ..
[code]

The packer build waits 1h30m for the readyness

[2021-11-18 14:03] stitakis commented on #1070
@clemensutschig the AMI generation is taking too long and causing packer to raise the `ResourceNotReady`exception after more than 2 hours running. Some details are explained here:
https://www.packer.io/docs/builders/amazon#resourcenotready-error
At this point the AMI build process still runs and completes after some time.

We could try to tune packer with the suggested parameters `AWS_MAX_ATTEMPTS

[2021-11-19 12:14] clemensutschig opened #1071 "difference in import-certs jenkins and SQ (update-ca-trust vs update-ca-certificates)"
**Describe the bug**
[(jenkins master · opendevstack/ods-core (github.com)](https://github.com/opendevstack/ods-core/blob/master/jenkins/master/import_certs.sh#L21)

uses `update-ca-trust` (which works) resulting in
[code]

[2021-11-19 13:36] michaelsauter commented on #1071
I realised the test does not cover this as it passed `--build-arg idpDns=""` to `docker build`, resulting in the code in question to be skipped.

The SonarQube image is based on `adoptopenjdk/openjdk11:x86_64-alpine-jre-11.0.10_9`, which seems to be a pretty specific tag. I wonder what changed .... I am going to rebuild the image locally to verify.

[2021-11-19 14:40] michaelsauter commented on #1071
After talking this over with @clemensutschig, we reached the following conclusions:

* SQ uses `update-ca-certificates` as it is Alpine based. Jenkins uses `update-ca-trust` as it is RHEL7/UBI8 based
* `update-ca-certificates` works well in the devenv / ODS AMI CI build (with a self-signed certificate)

Therefore the encountered error must result from the combination of the specific certificate in

[2021-11-19 14:53] segator commented on #1071
@michaelsauter  after disabling dynatrace on one cluster the issue is gone.

[2021-11-19 15:18] clemensutschig commented on #1070
I read on amazon that it may take up to 24h ... I think we should take a look how long this takes on average - and then configure this +30% thoughts?

[2021-11-22 09:16] stitakis commented on #1070
I have increased/set the values of `AWS_MAX_ATTEMPTS=180` and `AWS_POLL_DELAY_SECONDS=60` so that packer timeouts after to 3 hours. In average the ODS build duration was for the last builds of 1,5 hours.

I have also reduced the build frequency to 3 times per day to reduce pressure on the EBS snapshot process. I hope this will reduce the number of timed out packer builds.

[2021-11-24 09:05] stitakis commented on #1070
@clemensutschig  CI/AMI build looks stable after the tuning described in my last message. I'm closing this issue. We can reopen if this error pops up again.

[2021-11-24 09:05] #1070 closed

[2021-11-24 09:38] SimonGolms opened #1073 "SonarQube: update javascript and typescript version support"
**Is your feature request related to a problem? Please describe.**
The current version only supports a typescript version> = 3.2.1 <3.8.0. At this point in time, version 4.5.2 is the latest Typescript version.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Support latest javascript (ECMAScript 2020) and typescript (v4.x) version

**Describe altern

[2021-11-26 07:52] michaelsauter opened #1075 "Update SonarQube to latest LTS"
ODS is officially compatible with SQ 8.2. It is known not to work with 8.5+ (see #960). The latest LTS is 8.9. From 8.5 onwards, the language plugins are bundled, which would reduce the maintenance effort on our side, and would fix e.g. #1073.

I think ODS should be compatible with the latest LTS whenever possible.

BTW: The latest version is 9.2, which has support for Terraform files, which sound

[2021-12-10 14:37] renedupont opened #1076 "base-agent doc does not mention aquacli"
In the [agent-base doc](https://github.com/opendevstack/ods-core/blob/master/docs/modules/jenkins/pages/agent-base.adoc) the  aqua cli (as well as its [download url that needs to be configured](https://github.com/opendevstack/ods-core/blob/master/jenkins/agent-base/Dockerfile.ubi8#L87)) is missing.

I also found nowhere in the installation documentation the mentioning of the SNYK and AQUA download

[2021-12-20 07:45] albertpuente opened #1078 "Webhook proxy replaces all occurrences of project ID in build pipeline name"
**Describe the bug**
When components have names which include the project ID, the code removes it from the Jenkins build name. This may lead to multiple components having the same build pipeline in Jenkins.

**To Reproduce**
Steps to reproduce the behavior:
For instance, in a project called mlops, Have a component named mlops-pipeline and another called mlops-mlops-pipeline.
Build pipelines for bo

[2021-12-21 12:49] michaelsauter commented on #1078
@albertpuente Good catch! Want to open a PR for it?

[2021-12-22 10:21] metmajer commented on #1078
FYI @hugowschneider

[2021-12-22 13:22] michaelsauter commented on #1078
I can also open a PR for this.

[2022-01-03 07:21] #1078 closed

[2022-01-07 08:31] stitakis opened #1083 "ODS AMI build failing due to broken helm diff package"
This is affecting branches `master` and `4.x`.

Until 5 January 2021 the download of a helm diff dependency used in jenkins agent base was working fine:
[code]

Since 6 January the download of this dependency is not working.
[code]
The reported error is:
[code]

[2022-01-10 09:35] stitakis commented on #1083
@michaelsauter I'm able to build the UBI docker with `helm-diff` 3.2.0. It resolves as you described to version 3.3.1.

[2022-01-11 07:51] #1083 closed

[2022-01-11 08:07] stitakis opened #1086 "jenkins agent base is missing skopeo mirrors in docker ubi8 image in branch 3.x"
The docker image jenkins agent base for ubi8 can't be build because skopeo installation breaks.

This is the errror message:
[code]
This was solved in branches master and 4.x by adding mirror to the skopeo installation.

We need to add the mirror to the skopeo installation in `jenkins/agent-base/Dockerfile.ubi8`:
[code]

[2022-01-11 08:19] stitakis opened #1088 "ODS AMI build branch 3.x failing due to missing dependency in rhiny quickstarter"
ODS build failing for branch 3.x due to missing dependency in rshiny quickstarter.

The error message points to a missing dependency in `shinythemes` package
[code]

[2022-01-11 08:20] #1086 closed

[2022-01-11 08:24] stitakis commented on #1088
@gerardcl can you please have a quick look? Maybe helpful information: last time the build of this branch 3.x. ran successful was on December 12. Probably a dependency was removed and now we need to upgrade the dependencies in the quickstarter.

[2022-01-12 09:36] gerardcl commented on #1088
hi @stitakis sure! will do! during this week, latest next one

[2022-01-14 14:29] clemensutschig opened #1089 "Quickstarter test framework extensions .."
**Is your feature request related to a problem? Please describe.**

Especially in the context of the release manager - we need two more pieces ...

a) the check for non-existant attachments and
b) the check for other jenkins pipeline runs (e.g. those triggered by RM commits...)

[2022-01-17 14:44] clemensutschig commented on #1089
blocked by: https://issues.jenkins.io/browse/JENKINS-67618

[2022-01-19 18:21] #1044 closed

[2022-01-19 18:23] #1071 closed

[2022-01-19 18:26] clemensutschig commented on #944
is this solved?

[2022-01-20 15:56] michaelsauter opened #1090 "Update Tailor to 1.3.4"
Fixes https://github.com/opendevstack/tailor/issues/245.

[2022-01-24 10:18] gerardcl commented on #1075
hi @michaelsauter , due to also try to check the log4j vul topic, I will try to push this to be fixed ASAP.
I will target for now only master/4.x. What about 3.x?

[2022-01-24 12:11] gerardcl commented on #1088
@stitakis  closing this as fix was merged, feel free to reopen if tests still fail, thanks!

[2022-01-24 12:11] #1088 closed

[2022-01-24 12:14] gerardcl commented on #1075
We will meet tomorrow with @braisvq1996.
Llinking here official docs to prepare upgrading to latest LTS 8.9 version:
- https://docs.sonarqube.org/latest/setup/before-you-upgrade/
- https://docs.sonarqube.org/latest/setup/upgrade-notes/
- https://docs.sonarqube.org/latest/instance-administration/plugin-version-matrix/
- https://docs.sonarqube.org/latest/setup/upgrading/

[2022-01-24 13:00] michaelsauter commented on #1075
@gerardcl great!

I would say master/4.x but would delegate to @metmajer.

An important aspect of this work is going to be the upgrade path. How do we avoid a situation where people are blocked because SQ was updated and their client is not compatible?

[2022-01-24 13:18] gerardcl commented on #1075
we could provide both instances for short period of time and let users migrate smoothly

[2022-01-24 14:21] stitakis commented on #1088
@gerardcl I'll do that. Thanks for fixing!

[2022-01-26 13:32] braisvq1996 opened #1092 "Issues with the PVC in Openshift 4 clusters"
**Describe the bug**
The current PVCs are using access mode RWO and we have been recomended to use RWX to avoid an error when the pod restarts
[Kube docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes)

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a container with a PVC attached (access mode of the PVC to RWO)
2. re-deploy the container into a another

[2022-01-26 13:42] metmajer commented on #1092
@braisvq1996: note that @jorge-romero recently had an issue deploying our sock shop demo application because of a PVC issue. Note sure if that was the same error though.

[2022-01-26 13:46] gerardcl commented on #1092
I would not change to RWX since you want to ensure the rollout is successfully shutting down previous instances. Are we sure this error is related to the premission set and maybe rather related to the storage class type?

[2022-01-26 13:54] michaelsauter commented on #1092
IIRC RWX wasn't used in the past because it wasn't possible? For some (many?) rollouts it would be nice if it can be a rolling update instead of a restart. But it would require looking into all deployments whether this is safe or not ...

[2022-01-26 13:57] braisvq1996 commented on #1092
This is what was suggested to us by our Openshift support team.
Of course I did not had the time to go in depth for this issue but I will once we close the urgent tasks at hand.

[2022-02-01 09:06] braisvq1996 opened #1093 "Jenkins agent base fails to build"
**Describe the bug**
We have tried to build the jenkins agent base and we have seen that it fails due to centos mirros

**To Reproduce**
Steps to reproduce the behavior:
1. Go to build jenkins agent base from 4.x or master branch
2. See error

**Expected behavior**
Jenkins agent build should not fail

**Affected version (please complete the following information):**
 - OpenShift: 4.8
 - OpenDevSta

[2022-02-01 10:07] gerardcl commented on #1075
we have fixed this issue first, required to be able to build new agents with new sonar depencencies versions -> https://github.com/opendevstack/ods-core/issues/1093

[2022-02-01 10:11] gerardcl commented on #1075
with @braisvq1996 we have managed to have the following upgrade test with success:
- testing with enterprise edition:
1. sonarqube instance with 8.2 version in use
2. sonarqube instance upgraded to 8.9 with success (backup.sh a priori, disable readiness temporarily, open /setup, enable readiness back)

- testing with community edition:
1. having an existing ODS 4.x project using sonarqube 8.2 with

[2022-02-02 17:04] braisvq1996 opened #1097 "ODS box fails to build"
**Describe the bug**
Latest execution of e2e tests in ods are failing due to an error in one mirror ([packages.endpoint.com](https://packages.endpoint.com/rhel/7/os/x86_64/endpoint-repo-1.7-1.x86_64.rpm))

**To Reproduce**
Steps to reproduce the behavior:
1. Create an ODS-box
4. See error

**Expected behavior**
ODS-box should be created successfully

**Affected version (please complete the followi

[2022-02-02 17:06] braisvq1996 commented on #1097
The mirror is not available anymore and it was moved to a new one: https://packages.endpointdev.com/

[2022-02-03 16:05] braisvq1996 commented on #1097
Changing in this [line](https://github.com/opendevstack/ods-core/blob/master/ods-devenv/scripts/bootstrap.sh#L20) the mirror to https://packages.endpointdev.com/rhel/7/os/x86_64/endpoint-repo.x86_64.rpm seems to fix it

[2022-02-04 08:35] stitakis commented on #1097
@braisvq1996 your PR fixed it. Excellent! Thanks a lot! Can you please create a PR for the branches `4.x` and `3.x`? Add me as reviewer, so we get this done today. Apart from this there is another bug in the ODS AMI build for `master` branch. Could you please have a look?

[2022-02-04 14:13] renedupont commented on #919
@stitakis Thinking about it again I'm not quite convinced for the following couple of reasons:

- The gradle-wrapper.properties file that contains the distributionUrl is auto-generated by gradle commands. I think it is in general not a good idea to overwrite auto-generated files. If someone re-generates this, our customized distributionUrl would be overriden.
- Which distributionUrl would you chec

[2022-02-07 08:21] stitakis commented on #919
@renedupont it was quite a long time since I created this ticket... I think, we need first to define the goal we want to achieve and from there find the best suitable solution. From my point of view, every dependency should be downloaded over nexus, also the gradle wrapper.

This sound interesting, have you tried this?

[2022-02-07 08:34] renedupont commented on #919
I meant by this, that it **would** be my prefered solution to this. This is not implemented (as far as I know).

[2022-02-07 17:05] braisvq1996 commented on #1097
@stitakis , I took a quick look and it seems to be failing due to ionic qs tests.
I will try to take a closer look tomorrow

[2022-02-11 09:12] stitakis opened #1100 "ODS AMI build failing due timing out e2e-spock-geb quickstarter"
The e2e test in ods box is timing out for e2e-spock-geb quickstarter.

This is affecting `master` branch.

Logs
[code]

[2022-02-11 09:13] stitakis commented on #1100
@metmajer @braisvq1996 the ODS build is broken since 2 weeks. We need to get this fixed as soon as we can. Can you please have a look?

[2022-02-11 10:44] braisvq1996 commented on #1100
@stitakis - this could be because of this: https://github.com/opendevstack/ods-quickstarters/issues/706

[2022-02-14 08:00] gerardcl commented on #1073
will be fixed by https://github.com/opendevstack/ods-core/pull/1096 - that will come in ODS 4.2.0 release

[2022-02-14 08:01] gerardcl commented on #960
will be fixed by https://github.com/opendevstack/ods-core/pull/1096 - that will come in ODS 4.2.0 release

[2022-02-14 08:02] gerardcl commented on #986
hi @michaelsauter is this still required? if yes, I would like to make it happen for ODS 4.2.0

[2022-02-14 08:07] gerardcl commented on #992
hi @michaelsauter I will take a look into this for ODS 4.2.0

[2022-02-14 08:16] gerardcl commented on #992
thanks to @braisvq1996  to provide https://next.sonarqube.com/sonarqube/web_api <- will try to approach the fix via this API

[2022-02-14 08:23] braisvq1996 commented on #1093
We need to also apply this change into 3.x branch as the Continous tests are failing due to this

[2022-02-14 12:24] michaelsauter commented on #986
Yes we could do that change, see how we enforce auth in ods-pipeline: https://github.com/opendevstack/ods-pipeline/blob/master/scripts/sonarqube/Dockerfile#L3.

[2022-02-15 15:56] stitakis commented on #1097
This issue seems to be fixed. Closing!

[2022-02-16 16:52] tbugfinder commented on #1093
How about dropping use of CentOS8 repos and replacing those using ubi.repo ?

[2022-02-17 08:36] tbugfinder opened #1105 "clarify contribution guide, lifecycle of master and "released" branches"
**Is your feature request related to a problem? Please describe.**
I couldn't find a doc how the project organizes in regards to released branches 1.x, 2.x, 3.x, 4.x in ods-core and on all additional repos. Some contributions (PRs) go directly into master, some get merged in addition into e.g. 4.x and some are only e.g. 4.x.

**Describe the solution you'd like**
A documentation which explains the

[2022-02-17 10:31] metmajer commented on #1105
Hello @tbugfinder! We handled things differently in the past, but this is how we're working today:

- `master` is the integration branch on every repo.
- PRs go into master and into the existing release branches _that require_ this change. Usually, the current version, sometimes a version before, depending on the importance of the fix and provided that the older version is still in use of course.

[2022-02-17 10:40] michaelsauter commented on #1105
@metmajer No further comments.

There is some documentation on the release process at https://github.com/opendevstack/PMC/blob/master/releases.md. I think it is still accurate (however not everything in that repo is)

[2022-02-17 15:41] #1105 closed

[2022-02-18 11:12] gerardcl commented on #1093
this afternoon I will provide a fix for this issue since we still see errors that make the builds unstable. the fix for ubi8 dockerfile will be like:

[code]

it should also fix unstability related to recently created issues:
- https://github.com/opendevstack/ods-quickstarters/issues/720
- https://github.com/opendevstack/ods-quickstarters/issues/721
- https://github.com/opendevstack/ods-quickstart

[2022-02-18 13:15] #1093 closed

[2022-02-23 14:08] #1100 closed

[2022-03-02 15:19] tbugfinder opened #1115 "support AArch64 (ARM) architecture (for agents)"
**Is your feature request related to a problem? Please describe.**
Hardware on top of ARM architecture is getting more common in cloud and also e.g. Macs. Cloud cost efficiency is a driver too.
OCP4 is preparing for ARM architecture support.

**Describe the solution you'd like**
As a starting point jenkins-agents should be prepared for (intel+arm) multi-architecture builds and not only for intel/a

[2022-03-02 15:49] michaelsauter commented on #1115
BTW, we already made some progress with this on ODS Pipeline: https://github.com/opendevstack/ods-pipeline/issues?q=arm64. Maybe some of these issues / PRs can give some helpful hints ...

[2022-03-02 18:03] tbugfinder commented on #910
Spot pricing for AWS metal instance types drops prices by ~70% (e.g. for c5n.metal).
ARM a1.metal (16vCPUs, 32GB) would be cheapest entrypoint, though.

Azure offers different types with VT-x enabled hardware.
E.g. https://docs.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series

[2022-03-02 18:16] metmajer commented on #910
Thanks @tbugfinder, I guess that price on AWS is quite a bit more expensive than the instance type we're using today @jorge-romero? Switching to Azure would mean quite a few changes to adapt EDP in a Box creation and management.

[2022-03-03 11:51] tbugfinder commented on #910
My understanding is that an ODS installation on top of CodeReadyContainers (CRC) is most beneficial option.
- it enables local development environments (PC HW or Macs)
- it does not depend on a cloud provider (AWS, Azure, GCP, ...)

Therefore, using ec2 metal for *developing the setup now*, is definitely an option - ec2 metal should be still in budget.
After that, running it locally or in AWS or A

[2022-03-03 13:00] stitakis commented on #910
@metmajer @tbugfinder maybe could help us to decide on the roadmap if we do an analysis that take into account a budget limit and a cost/benefit analysis. Migrating to Azure have the additional effort of migrating the ODS Box build infrastructure including also the EDP CI infrastructure.
Regarding the ODS Box build infrastructure, there are some optimizations that we have in the backlog that could

[2022-03-07 09:13] michaelsauter opened #1116 "Updating an older Jenkins from 4.7 base image to 4.8/4.9 base image breaks Git plugin"
**Describe the bug**
After updating a Jenkins Master from a 4.7 based image to 4.8 based image (UBI8), the Git plugin does not load, which leads to a broken Jenkins instance (no pipeline starts), as discovered with @velcrin @faust2199.

**Steps To Reproduce**
If the Jenkins Master being upgraded has a [parameterized-trigger-plugin](https://github.com/jenkinsci/parameterized-trigger-plugin) below v

[2022-03-08 07:23] clemensutschig opened #1117 "ODS AMI CI build fails with Prov APP (ocp check precondition) - fabric exception"
[code]

preluded by:

[code]

[2022-03-08 08:12] stitakis commented on #1117
@clemensutschig I have trasferred this issue to ods-core. I'll disable the openshift service in prov app by default. This will fix the CI build.

[2022-03-08 08:14] clemensutschig commented on #1117
but don'T you need to do this in ods-devenv as well? ...

[2022-03-08 08:18] stitakis commented on #1117
ah yes, I've done in in ods-devenv and pushed the change

[2022-03-09 08:51] gerardcl commented on #1116
hi! to add more info here regarding jenkins master base image version 4.9 -> we did a fast test on using 4.9 version and the issues were related to the kubernetes client (client not able to find right token ID) and the DSL plugins (CSP related, aka methods not found errors). Hence, it looks also same situation of matching right(ests) versions. Also, maybe the kubernetes client issue is realted to

[2022-03-09 09:06] stitakis commented on #1117
we need to port this to branch `4.x`

[2022-03-09 12:18] #1117 closed

[2022-03-09 13:37] stitakis opened #1120 "ODS AMI E2E quickstarter prov app fails due to no nexus equal true"
This also affect branches `master` and `4.x`

logs:
[code]

[2022-03-11 13:02] gerardcl commented on #1053
hi! I have some updates regarding this topic:

1. See "Preparing to upgrade to OpenShift Container Platform 4.9" knowledge page from redhat [here](https://access.redhat.com/articles/6329921)

2. From (1), I have checked on our OSD4.8 cluster what k8s API resources might be affected, by running command `oc get apirequestcounts`, and filtering by existing `REMOVEDINRELEASE` we see:

[code]

3. Based

[2022-03-11 14:43] michaelsauter commented on #1053
Regarding OpenShift Pipelines:

See https://docs.openshift.com/container-platform/4.9/cicd/pipelines/op-release-notes.html#compatibility-support-matrix_op-release-notes. Since we are on 4.8, we use OpenShift Pipelines 1.5, which is based on Tekton 0.24.x. According to Tekton 0.27.3 is the first release with support for Kubernetes 1.22 (https://github.com/tektoncd/pipeline/releases/tag/v0.27.3). So

[2022-03-14 07:35] stitakis opened #1122 "ODS E2E tests failing because go dependency go junit report expected version disapperead"
ODS E2E tests failing because go dependency go junit report expected version disappeared.

The go dependency go-junit-report in the expected version with tag `0.8.9` is not available anymore. It looks like the repository owner removed the tag in the github repository (https://github.com/jstemmer/go-junit-report)

This is impacting branches `master` and `4.x`

logs
[code]

Available version:
![imag

[2022-03-14 07:44] stitakis commented on #1122
@michaelsauter would be possible to replace this dependency on source code to a published artifact instead?

[2022-03-14 09:28] michaelsauter commented on #1122
@stitakis where do you see it is expecting tag `0.8.9`? I do not find that reference ...

[2022-03-14 09:44] stitakis commented on #1122
@michaelsauter my bad, I think I was looking at an old version of the master branch. It looks like ods is using version '0.9.1'... anyway it looks to me that the dependency is missing as the logs are indicating.

[2022-03-14 12:47] michaelsauter commented on #1122
Ok odd, as that tag still exists: https://github.com/jstemmer/go-junit-report/tags. That said we could update to v1.0.0, it seems there are no actual changes: https://github.com/jstemmer/go-junit-report/compare/v0.9.1...v1.0.0.

[2022-03-14 15:52] michaelsauter commented on #1122
As discussed, I am closing this as the error seems to be elsewhere.

[2022-03-14 15:52] #1122 closed

[2022-03-15 15:21] gerardcl commented on #992
we will need to add a section in the admin docs that when upgrading sonarqube one needs to disable the probes

[2022-03-24 13:55] cschweikert opened #1123 "Kubernetes Service Account within Jenkins credentials is missing in newly provisioned OC projects"
### Description:
After provisioning of a new project with the ODS provisioning app the Jenkins instance in the cd project does not contain a Kubernetes Service Account within Jenkins' global credentials store. If those credentials are missing, provisioning of new components is not working. The issue appeared after rebuilding the image `jenkins-master:4.x` from `registry.redhat.io/openshift4/ose-je

[2022-03-24 14:08] cschweikert commented on #1053
Regarding Kubernetes API there might be relevant dependencies towards Kubernetes-related Jenkins plugins:
* kubernetes:1.31.0
* kubernetes-client-api:5.10.1-171.vaa0774fb8c20
* kubernetes-credentials:0.9.0

I suspect those plugins to be responsible for https://github.com/opendevstack/ods-core/issues/1123. Maybe this is also relevant here.

[2022-03-24 14:15] cschweikert commented on #1053
Jenkins plugins kubernetes of version 1.30.6+ requires Kubernetes version 1.18+. See also https://github.com/jenkinsci/kubernetes-plugin/releases/tag/kubernetes-1.30.6

What version of Kubernetes are we running on right now?

[2022-03-24 14:49] cschweikert commented on #1123
@braisvq1996 FYI

[2022-03-24 16:06] cschweikert commented on #1116
Please note: Jenkins Master from a 4.7 base image is also under the effect of the issue above now. Reason for this is the recent update of the baked in Jenkins from version 2.303.3 to 2.319.2 like in 4.8+. See also https://github.com/openshift/jenkins/commit/1383028376d7619e1930d0f2a88aa00cce770226

[2022-03-25 07:35] michaelsauter commented on #1053
@cschweikert the cluster you used is OpenShift 4.8, which uses Kubernetes 1.21. You can always check by clicking on the "question mark" icon in the header, and then selecting "About" from the menu.

[2022-03-28 14:04] cschweikert opened #1124 "Quickstarter tests: Verifying Jenkins run attachments fails"
### Decription
When running the quickstarter tests the verification of the Jenkins run attachments fails. This issue has to do with a failed calculation of the build url (see below for more details).

### Steps to reproduce the behavior:
1. Go to a local checkout of `ods-core`.
2. Switch to subfolder `./tests`
3. Run `make test-quickstarter QS=fe-angular`
4. QS provisioning and first build was suc

[2022-03-28 14:14] cschweikert opened #1125 "Provisioning of projects doesn't setup Jenkins with Aqua credentials"
### Description:
When provisioning a new project the new Jenkins instance in the new cd project doesn't have credentials of Aqua.

### Expected behavior:
Either the right credentials are set up in Jenkins (`Manage Jenkins > Manage Credentials > ...`) OR no implicit and automatic runs of Aqua in Jenkins pipeline.

### Affected version:
 - OpenShift: 4.8
 - OpenDevStack: 4.x

### Log Output:
[code]

[2022-03-28 14:18] cschweikert commented on #1125
Another problem with this implicit runs of Aqua are the unit tests of quickstarters. They usually cross-check the names of the build steps within Jenkins pipelines and they don't know about this Aqua step yet.

[2022-04-06 18:16] metmajer commented on #1125
@braisvq1996 @gerardcl please create the maintenance project finally and add this one

[2022-04-07 12:17] braisvq1996 commented on #1125
As soon as I finish the current task at hand I will start working on the maintenance topic.

@cschweikert as far as I know there is no issues in Aqua integration for our current ODS installation but we do not make use of credentials like "<KEY>-cd-aqua". Instead we use "cd-user-with-password"

[2022-04-07 12:29] cschweikert commented on #1125
I provisioned the given project with a *project-specific cd user*. Jenkins' credentials store also knows it under the id `unitt-cd-cd-user-with-password`. I would expect Aqua to either request for that one or I would expect the provisioning app to provision also credentials with the id `unitt-cd-aqua`, which is the id that is currently requested by Aqua (on a project with project-specific cd user)

[2022-04-07 12:32] cschweikert commented on #1125
Oh, I see. AFAIK the cd user credentials should not be accessible by everyone for security reasons. This is the reason for having project-specific cd users. Maybe Aqua should use a different pair of credentials that is not tied to any cd user.

[2022-04-07 14:55] cschweikert commented on #1125
I opened a PR for changing the default

[2022-04-11 08:26] braisvq1996 commented on #1092
Closing this as it was an issue with the backend for the storage in OCP4

[2022-04-11 08:26] #1092 closed

[2022-05-03 08:34] braisvq1996 opened #1127 "Pipelines generated by the release process"
**Describe the bug**
Once we start a release using the release manager, we select a version (1.0 for example) and we successfully promote to dev.
Now during the release a new branch was created and commits were done in this branch. This makes new pipelines beeing generated that does not do anything due to the `ci skip` in the commit message.
For each new version a new set of pipelines will be crea

[2022-05-13 10:40] #1125 closed

[2022-06-02 07:29] victorpablosceruelo opened #1138 "Upgrade Atlassian Stack"
**Is your feature request related to a problem? Please describe.**
The Atlassian Stack version is outdated. Needs to be upgraded.

**Describe the solution you'd like**
Just upgrade it to the latest available one.

**Describe alternatives you've considered**
Implement a script to upgrade it on a Box? I'm not sure about this.

**Additional context**
There might be problems with the database used for

[2022-06-03 08:18] victorpablosceruelo opened #1139 "Golang dependencies used by Jenkins CI to run tests in folder tests are deprecated and sometimes fail to download."
**Describe the bug**

We use golang to run quickstaters from Jenkins Continuous Integration pipelines.
The dependencies are rather old and it sometimes fails to download them with 'unexpected EOF' error.

**To Reproduce**
Steps to reproduce the behavior:
Just run the CI. If you are not lucky, you'll get the error.

**Expected behavior**
Pipelines should never fail due to this problem.

**Screensho

[2022-06-07 10:14] victorpablosceruelo opened #1141 "./scripts/push-local-repos.sh is not available in 3.x"
**Describe the bug**

After the scripts upgraded done in 3.x,
./scripts/push-local-repos.sh is not available in 3.x

**To Reproduce**
Steps to reproduce the behavior:
Run the 3.x pipeline in Jenkins.

**Expected behavior**
A clear and concise description of what you expected to happen.
The script needs to be there and its execution, to suceed.

**Screenshots**
If applicable, add screenshots to hel

[2022-06-07 16:20] victorpablosceruelo commented on #1141
Still having similar issues:

==> amazon-ebs: ./scripts/push-local-repos.sh: line 32: /home/openshift/opendevstack/ods-core/scripts/colored-output.sh: No such file or directory

[2022-06-09 12:57] victorpablosceruelo opened #1146 "Copy and Paste do not work when using xrdp to connect to OdsBox"
**Describe the bug**
When we create a new box using script run-on-aws.sh, we cannot use cut/copy/paste features between local and remote hosts.
Creation script:

vpablos@WKS0001108274:~/src/ods-core$ bash ods-devenv/scripts/run-on-aws.sh --subnet-id subnet-private-id --iam-instance-profile exampleInstance --target-git-ref master

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to the

[2022-06-09 13:05] victorpablosceruelo commented on #1146
To fix the bug:

Prerequisites:
[code]

Download needed sources:
[code]

Remove not working packages:
[code]

Compile and install xorgxrdp:
[code]

Compile and install xrdp:
[code]

Fix libraries loading problem:
[code]

Reload xrdp daemon:
[code]

I tested that it works in my box. After doing the steps, you can use copy/paste features with xorgxrdp and xvnc.

[2022-06-09 13:14] victorpablosceruelo opened #1147 "java-1.7.0-openjdk should *not* be the default jdk in OdsBox"
**Describe the bug**
The java packages installed by default correspond to java 1.7:

java-1.7.0-openjdk
java-1.7.0-openjdk-headless

**To Reproduce**
Steps to reproduce the behavior:
Run in a box the command
$ java -version

**Expected behavior**
At least:
$ java -version
openjdk version "1.8.0_332"
OpenJDK Runtime Environment (build 1.8.0_332-b09)
OpenJDK 64-Bit Server VM (build 25.332-b09, mixed

[2022-06-13 07:24] braisvq1996 commented on #910
@victorpablosceruelo @metmajer we have found that node18 cannot be build in Centos7 and Rhel7 [here](https://github.com/opendevstack/ods-quickstarters/pull/795#issuecomment-1152151640), this makes it not compatible with our current ODSBox which uses Centos7

[2022-06-13 13:15] victorpablosceruelo commented on #910
@braisvq1996 Centos8 died (stopped having security upgrades) in December 2021 and Centos7 will die in June 2024. We still have ~2 years, but we should stop spending efforts in Centos7.
Some important issues we should take into account:

Centos End Of Life:
https://www.centos.org/centos-linux-eol/

Graphical representation of the end of life differences between RH and Centos:
https://linuxlifecycle

[2022-06-15 07:23] #1147 closed

[2022-06-15 07:23] #1146 closed

[2022-06-15 07:24] #1139 closed

[2022-06-15 07:24] #1138 closed

[2022-06-15 16:01] #1141 closed

[2022-06-15 16:09] victorpablosceruelo opened #1150 "deploy.sh script facility startup_ods does not check if services started are really up"
**Describe the bug**
When you run startup_ods, the script that does the hard job does not test if the services it launches are really up.

**To Reproduce**
If you call startup_ods and run a test just after (without delay), it sometimes fails because services are not up yet.

**Expected behavior**
Check that services are up before returning control.

**Screenshots**
If applicable, add screenshots t

[2022-06-15 16:15] victorpablosceruelo opened #1151 "deploy.sh script facility register_dns does not remove outdated entries"
**Describe the bug**
When you use the script to relaunch the pod of a service (bitbucket, jira, crowd, mysql), if there was an entry for that service in /etc/resolv.conf, it is not updated. As it is not updated, the service does not work.

**To Reproduce**
Steps to reproduce the behavior:
Use, for example, the facility atlassian_stack_reset in deploy.sh

**Expected behavior**
If a service is launc

[2022-06-23 12:51] victorpablosceruelo opened #1157 "Default jdk is not set in edpBox"
**Describe the bug**
The box has not set the environment variable JAVA_HOME.
As a result, gradle fails to compile sometimes.

**To Reproduce**
Try to compile ods-document-generation-svc or ods-provisioning-app in a Box.

**Expected behavior**
Compilation should not fail. Variable needs to be set.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStac

[2022-06-24 10:22] victorpablosceruelo opened #1158 "Allow chosing the order in which quickstaters are build"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to wait 4 hours to see a quick starter fail.

**Describe the solution you'd like**
I wanna chose the order in which quickstaters are build, so the one I am testing is compiled first.

**Describe alternatives you've considered**
Cache implementation, run only my quickstater.

**Additional context**

[2022-07-04 06:21] #1151 closed

[2022-07-04 06:21] #1150 closed

[2022-07-11 07:06] segfault16 opened #1162 "Helm permission problems"
**Describe the bug**
Using `jenkins-agent-base:4.x`
`helm dependency update` command fails with:
[code]

**To Reproduce**
[code]

In that folder run `helm dependency update`

Current workaround:
Reconfigure helm with environment variables

[code]

[2022-07-13 11:35] tbugfinder opened #1163 "webhook proxy should support PRs from forked repositories"
**Is your feature request related to a problem? Please describe.**
Development teams might rely on a contribution workflow based on forked repositories.
PullRequest are not created from branch-a to e.g. master but from forked-repo/branch to master.

**Describe the solution you'd like**
It would be beneficial if the webhook proxy creates a Jenkins project which can deal with forked repos so that we

[2022-07-14 09:13] tbugfinder commented on #1163
I've tested quite some refs however wasn't able to get this from bitbucket.
It looks like BB would still rely on the forked repo.

@michaelsauter any thoughts?

[2022-07-14 09:19] michaelsauter commented on #1163
Hmm. TBH I am not sure if the Webhook proxy really should support this.

Can you expand on "At least extending ALLOWED_EXTERNAL_PROJECTS doesn't apply"? Did you try and it did not work? The env var exists to allows the following scenario: say you have project "foo" and namespaces "foo-cd", "foo-dev" and "foo-test". by default the proxy only builds repos located in the "foo" project of bitbucket. c

[2022-07-14 12:56] tbugfinder commented on #1163
By design the webhook cannot be configured on the fork.
Ah, I had a misunderstanding of the option `ALLOWED_EXTERNAL_PROJECTS`, I thought it might grab code from the forked repository - so we can forget about that.

[2022-07-15 07:04] michaelsauter commented on #1163
Oh I see. Well then this would require some work, probably along what the links you shared earlier suggest.

I will not work on this feature, but will review contribution. First though, I wonder if we really need this? I think the contribution flow via forked repo is not too common in a company setting.

[2022-08-09 09:40] clemensutschig commented on #1162
fix should be in
https://github.com/opendevstack/ods-core/blob/master/jenkins/master/Dockerfile.ubi8

to make the cache dir writable ...

[2022-08-11 13:30] braisvq1996 commented on #992
We can make use of this endpoint https://next.sonarqube.com/sonarqube/web_api/api/system/status as it does not need of any credential

![image](https://user-images.githubusercontent.com/26645694/184144741-d92f5ed5-33ab-439c-ba17-75e3cba2c12a.png)

[2022-08-11 16:13] #1162 closed

[2022-08-26 06:08] victorpablosceruelo opened #1175 "Error in Jenkins CI due to Atlassian Bitbucket license expired"
**Describe the bug**
Since ODS Box generation takes between 5 and 6 hours and atlassian license is only for 3 hours, we fail installation because atlassian Bitbucket license gets out of time.

**To Reproduce**
Steps to reproduce the behavior:
Run the Jenkins CI

**Expected behavior**
Should not fail.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Affected version

[2022-08-26 06:13] victorpablosceruelo opened #1176 "Images used as Jenkins slaves in Jenkins CI do not have java 11"
**Describe the bug**
Due to an upgrade of Jenkins, we now need that slave images have java 11.

**To Reproduce**
Run the Jenkins CI.

**Expected behavior**
Should work.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStack [-all-]

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**

From: https://ods-ci.a

[2022-08-26 06:19] victorpablosceruelo opened #1178 "When some service is not available, we cannot always restart the whole ODS infrastructure."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I have to restart the whole ODS infrastructure just because a service is down.

**Describe the solution you'd like**
An script checking if all services are up and restarting only the ones it finds down.

**Describe alternatives you've considered*

[2022-09-27 16:10] victorpablosceruelo opened #1184 "Jenkins agents not able to download remoting.jar from jenkins master."
**Describe the bug**
We are seeing that the reason a jenkins agent takes too long to start is that it cannot download and it is killed before doing it.

**To Reproduce**
Sometimes it happens.

**Expected behavior**
Should not have problems downloading remoting.jar file from Jenkins master.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStack [mast

[2022-09-28 16:17] victorpablosceruelo opened #1186 "JAVA_TOOL_OPTIONS cannot be set in docker images."
**Describe the bug**
The line
https://github.com/opendevstack/ods-core/blob/2063d3b4bd46297ac1c46d91bcf66f2a9304b097/jenkins/agent-base/Dockerfile.centos7#L14
might affect java compilations. All java processes will inherit this options, and they are only valid for jenkins agents.

**To Reproduce**
N/A

**Expected behavior**
N/A

**Screenshots**
N/A

**Affected version (please complete the followin

[2022-09-28 16:17] victorpablosceruelo commented on #1186
@braisvq1996 tomorrow we can continue with the talk about this.

[2022-09-28 16:29] victorpablosceruelo commented on #1186
The bug was introduced here:
https://github.com/opendevstack/ods-core/pull/1182
https://github.com/opendevstack/ods-core/pull/1182/files#
jenkins/agent-base/Dockerfile.centos7

[2022-09-30 05:59] tbugfinder opened #1187 "ods docs generation fails due to duplicate antora configuration in master and 4.x"
**Describe the bug**
Branches master and 4.x have equal antora configuration!
This "bug" was added #1168 !

ToDo:
Change of antora.yml (version, prerelease) has to be reverted in branch 4.x.

https://github.com/opendevstack/ods-core/blob/4.x/docs/antora.yml#L1-L6

FYI
@victorpablosceruelo
@braisvq1996

Failing GH Action:
https://github.com/opendevstack/ods-documentation/actions/runs/2886841921/job

[2022-10-03 08:15] #1186 closed

[2022-10-20 12:18] braisvq1996 commented on #1187
closed with #1188

[2022-10-20 12:18] #1187 closed

[2022-10-27 11:57] braisvq1996 opened #1191 "Update Containers Probes in Jenkins"
**Is your feature request related to a problem?**
Jenkins takes too long to boot up and if the cluster is under heavy load to the storage provisioner it will take even longer that 15 min.

**Describe the solution you'd like**
In order to avoid Jenkins to restart all the time once this happens we would need to adjust the containers probes and add the [Startup Probe](https://kubernetes.io/docs/tasks